# Final Capstone Project
## Best location for a restaurant among top 12 cities worldwide

#### by Ignacio de Juan
#### November 2020, Final Project Assignment for IBM Data Science Course

### Introduction / Business Problem

We need to take the decision of where is the best location to open a new restaurant of a certain cuisine (e.g. Italian, Japanese, Spanish, etc). Which are the cities with a highest potential based on the level of concentration of certain cuisine and the demand of each cuisine based also on the assessment of the existing restaurants? If possible, provide with a recommendation for the location of the restaurant and the cuisine that would be likely to be more successful.

### Data

We will take data from 12 top cities worldwide.

The criteria to select those cities is to choose among cities that have a similar GDP per capita and a large enough base of restaurants so that the study is statistically significant.

We will be using Wikipedia to identify the target cities of our study and Foursquare as our database of venue data.

## Set up

In [1]:
import pandas as pd
import requests
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
mpl.style.use(['seaborn'])

In [2]:
# !pip install python-dotenv

# Credentials file
%load_ext dotenv
%dotenv

import os

import json

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import requests # library to handle requests
from pandas import json_normalize

import numpy as np

pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
#Setting up Foursquare

CLIENT_ID = os.getenv("CLIENT_ID")
CLIENT_SECRET = os.getenv("CLIENT_SECRET")

VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

# print('Your credentails:')
# print('CLIENT_ID: ' + CLIENT_ID)
# print('CLIENT_SECRET:' + CLIENT_SECRET)

## Data 

### Selecting the cities

We retrieve the list of worldwide cities ranked by GDP PPP

Source: Wikipedia, https://en.wikipedia.org/wiki/List_of_cities_by_GDP_(PPP)_per_capita

We obtain the venue data available in Foursquare.

We restrict venue type to restaurant

In [4]:
# Code to retrieve the cities

url = 'https://en.m.wikipedia.org/wiki/List_of_United_States_cities_by_population'
dfs = pd.read_html(url)

print(len(dfs))

print(dfs[3])

df = dfs[3]

11
     2019rank               City              State[c]  2019estimate  \
0           1   New York City[d]              New York       8336817
1           2        Los Angeles            California       3979576
2           3            Chicago              Illinois       2693976
3           4         Houston[3]                 Texas       2320268
4           5            Phoenix               Arizona       1680992
5           6    Philadelphia[e]          Pennsylvania       1584064
6           7        San Antonio                 Texas       1547253
7           8          San Diego            California       1423851
8           9             Dallas                 Texas       1343573
9          10           San Jose            California       1021795
10         11             Austin                 Texas        978908
11         12    Jacksonville[f]               Florida        911507
12         13         Fort Worth                 Texas        909585
13         14           Columbus                  Ohio        898553
14         15          Charlotte        North Carolina        885708
15         16   San Francisco[g]            California        881549
16         17    Indianapolis[h]               Indiana        876384
17         18            Seattle            Washington        753675
18         19          Denver[i]              Colorado        727211
19         20      Washington[j]  District of Columbia        705749
20         21             Boston         Massachusetts        692600
21         22            El Paso                 Texas        681728
22         23       Nashville[k]             Tennessee        670820
23         24            Detroit              Michigan        670031
24         25      Oklahoma City              Oklahoma        655057
25         26           Portland                Oregon        654741
26         27          Las Vegas                Nevada        651319
27         28            Memphis             Tennessee        651073
28         29      Louisville[l]              Kentucky        617638
29         30       Baltimore[m]              Maryland        593490
30         31          Milwaukee             Wisconsin        590157
31         32        Albuquerque            New Mexico        560513
32         33             Tucson               Arizona        548073
33         34             Fresno            California        531576
34         35               Mesa               Arizona        518012
35         36         Sacramento            California        513624
36         37            Atlanta               Georgia        506811
37         38        Kansas City              Missouri        495327
38         39   Colorado Springs              Colorado        478221
39         40              Omaha              Nebraska        478192
40         41            Raleigh        North Carolina        474069
41         42              Miami               Florida        467963
42         43         Long Beach            California        462628
43         44  Virginia Beach[m]              Virginia        449974
44         45            Oakland            California        433031
45         46        Minneapolis             Minnesota        429606
46         47              Tulsa              Oklahoma        401190
47         48              Tampa               Florida        399700
48         49          Arlington                 Texas        398854
49         50     New Orleans[n]             Louisiana        390144
50         51            Wichita                Kansas        389938
51         52        Bakersfield            California        384145
52         53          Cleveland                  Ohio        381009
53         54             Aurora              Colorado        379289
54         55            Anaheim            California        350365
55         56        Honolulu[b]                Hawaii        345064
56         57          Santa Ana            California        332318
57         58          Riverside            California        331360
58         59     Corpus Christi                 Texas        326586
59         60       Lexington[o]              Kentucky        323152
60         61          Henderson                Nevada        320189
61         62           Stockton            California        312697
62         63         Saint Paul             Minnesota        308096
63         64         Cincinnati                  Ohio        303940
64         65       St. Louis[m]              Missouri        300576
65         66         Pittsburgh          Pennsylvania        300286
66         67         Greensboro        North Carolina        296710
67         68            Lincoln              Nebraska        289102
68         69       Anchorage[p]                Alaska        288000
69         70              Plano                 Texas        287677
70         71            Orlando               Florida        287442
71         72             Irvine            California        287401
72         73             Newark            New Jersey        282011
73         74             Durham        North Carolina        278993
74         75        Chula Vista            California        274492
75         76             Toledo                  Ohio        272779
76         77         Fort Wayne               Indiana        270402
77         78     St. Petersburg               Florida        265351
78         79             Laredo                 Texas        262491
79         80        Jersey City            New Jersey        262075
80         81           Chandler               Arizona        261165
81         82            Madison             Wisconsin        259680
82         83            Lubbock                 Texas        258862
83         84         Scottsdale               Arizona        258069
84         85               Reno                Nevada        255601
85         86            Buffalo              New York        255284
86         87         Gilbert[q]               Arizona        254114
87         88           Glendale               Arizona        252381
88         89    North Las Vegas                Nevada        251974
89         90      Winston–Salem        North Carolina        247945
90         91      Chesapeake[m]              Virginia        244835
91         92         Norfolk[m]              Virginia        242742
92         93            Fremont            California        241110
93         94            Garland                 Texas        239928
94         95             Irving                 Texas        239798
95         96            Hialeah               Florida        233339
96         97        Richmond[m]              Virginia        230436
97         98           Boise[r]                 Idaho        228959
98         99            Spokane            Washington        222081
99        100     Baton Rouge[s]             Louisiana        220236
100       101             Tacoma            Washington        217827
101       102     San Bernardino            California        215784
102       103            Modesto            California        215196
103       104            Fontana            California        214547
104       105         Des Moines                  Iowa        214237
105       106      Moreno Valley            California        213055
106       107      Santa Clarita            California        212979
107       108       Fayetteville        North Carolina        211657
108       109         Birmingham               Alabama        209403
109       110             Oxnard            California        208881
110       111          Rochester              New York        205695
111       112     Port St. Lucie               Florida        201846
112       113       Grand Rapids              Michigan        201013
113       114         Huntsville               Alabama        200574
114       115     Salt Lake City                  Utah        200567
115       116             Frisco                 Texas        200490
116       117            Yonkers              New York        200370
117       118           Amarillo                 Texas        199371
118       119           Glendale            California        199303
119       120   Huntington Beach            California        199223
120       121           McKinney                 Texas        199177
121       122         Montgomery               Alabama        198525
122       123         Augusta[t]               Georgia        197888
123       124             Aurora              Illinois        197757
124       125              Akron                  Ohio        197597
125       126        Little Rock              Arkansas        197312
126       127              Tempe               Arizona        195805
127       128        Columbus[u]               Georgia        195769
128       129      Overland Park                Kansas        195494
129       130      Grand Prairie                 Texas        194543
130       131        Tallahassee               Florida        194500
131       132         Cape Coral               Florida        194495
132       133             Mobile               Alabama        188720
133       134          Knoxville             Tennessee        187603
134       135         Shreveport             Louisiana        187112
135       136          Worcester         Massachusetts        185428
136       137            Ontario            California        185010
137       138          Vancouver            Washington        184463
138       139        Sioux Falls          South Dakota        183793
139       140        Chattanooga             Tennessee        182799
140       141        Brownsville                 Texas        182781
141       142    Fort Lauderdale               Florida        182437
142       143         Providence          Rhode Island        179883
143       144    Newport News[m]              Virginia        179225
144       145   Rancho Cucamonga            California        177603
145       146         Santa Rosa            California        176753
146       147             Peoria               Arizona        175961
147       148          Oceanside            California        175742
148       149          Elk Grove            California        174775
149       150              Salem                Oregon        174365
150       151     Pembroke Pines               Florida        173591
151       152             Eugene                Oregon        172622
152       153       Garden Grove            California        171644
153       154            Cary[v]        North Carolina        170282
154       155       Fort Collins              Colorado        170243
155       156             Corona            California        169868
156       157        Springfield              Missouri        167882
157       158            Jackson           Mississippi        160628
158       159      Alexandria[m]              Virginia        159428
159       160            Hayward            California        159203
160       161        Clarksville             Tennessee        158146
161       162           Lakewood              Colorado        157935
162       163          Lancaster            California        157601
163       164            Salinas            California        155465
164       165           Palmdale            California        155079
165       166          Hollywood               Florida        154817
166       167        Springfield         Massachusetts        153606
167       168           Macon[w]               Georgia        153159
168       169     Kansas City[x]                Kansas        152960
169       170          Sunnyvale            California        152703
170       171             Pomona            California        151691
171       172            Killeen                 Texas        151666
172       173          Escondido            California        151625
173       174           Pasadena                 Texas        151227
174       175         Naperville              Illinois        148449
175       176           Bellevue            Washington        148164
176       177             Joliet              Illinois        147344
177       178       Murfreesboro             Tennessee        146900
178       179            Midland                 Texas        146038
179       180           Rockford              Illinois        145609
180       181           Paterson            New Jersey        145233
181       182           Savannah               Georgia        144464
182       183         Bridgeport           Connecticut        144399
183       184           Torrance            California        143592
184       185            McAllen                 Texas        143268
185       186           Syracuse              New York        142327
186       187           Surprise               Arizona        141664
187       188             Denton                 Texas        141541
188       189          Roseville            California        141500
189       190           Thornton              Colorado        141464
190       191            Miramar               Florida        141191
191       192           Pasadena            California        141029
192       193           Mesquite                 Texas        140937
193       194             Olathe                Kansas        140545
194       195             Dayton                  Ohio        140407
195       196         Carrollton                 Texas        139248
196       197               Waco                 Texas        139236
197       198             Orange            California        138669
198       199          Fullerton            California        138632
199       200         Charleston        South Carolina        137566
200       201   West Valley City                  Utah        135248
201       202            Visalia            California        134605
202       203         Hampton[m]              Virginia        134510
203       204        Gainesville               Florida        133997
204       205             Warren              Michigan        133943
205       206      Coral Springs               Florida        133759
206       207       Cedar Rapids                  Iowa        133562
207       208         Round Rock                 Texas        133372
208       209   Sterling Heights              Michigan        132438
209       210               Kent            Washington        132319
210       211           Columbia        South Carolina        131674
211       212        Santa Clara            California        130365
212       213          New Haven           Connecticut        130250
213       214           Stamford           Connecticut        129638
214       215            Concord            California        129295
215       216          Elizabeth            New Jersey        129216
216       217          Athens[y]               Georgia        126913
217       218      Thousand Oaks            California        126813
218       219       Lafayette[z]             Louisiana        126185
219       220        Simi Valley            California        125613
220       221             Topeka                Kansas        125310
221       222             Norman              Oklahoma        124880
222       223              Fargo          North Dakota        124662
223       224         Wilmington        North Carolina        123744
224       225            Abilene                 Texas        123420
225       226             Odessa                 Texas        123334
226       227           Columbia              Missouri        123195
227       228           Pearland                 Texas        122460
228       229        Victorville            California        122385
229       230           Hartford           Connecticut        122105
230       231            Vallejo            California        121692
231       232          Allentown          Pennsylvania        121442
232       233           Berkeley            California        121363
233       234         Richardson                 Texas        121323
234       235             Arvada              Colorado        121272
235       236          Ann Arbor              Michigan        119980
236       237          Rochester             Minnesota        118935
237       238          Cambridge         Massachusetts        118927
238       239         Sugar Land                 Texas        118488
239       240            Lansing              Michigan        118210
240       241         Evansville               Indiana        117979
241       242    College Station                 Texas        117911
242       243          Fairfield            California        117133
243       244         Clearwater               Florida        116946
244       245           Beaumont                 Texas        116825
245       246       Independence              Missouri        116672
246       247              Provo                  Utah        116618
247       248        West Jordan                  Utah        116480
248       249           Murrieta            California        116223
249       250           Palm Bay               Florida        115552
250       251           El Monte            California        115487
251       252           Carlsbad            California        115382
252       252   North Charleston        South Carolina        115382
253       254           Temecula            California        114761
254       255             Clovis            California        114584
255       256        Springfield              Illinois        114230
256       257           Meridian                 Idaho        114161
257       258        Westminster              Colorado        113166
258       259         Costa Mesa            California        113003
259       260         High Point        North Carolina        112791
260       261         Manchester         New Hampshire        112673
261       262             Pueblo              Colorado        112361
262       263           Lakeland               Florida        112136
263       264      Pompano Beach               Florida        112118
264       265    West Palm Beach               Florida        111955
265       266            Antioch            California        111502
266       267            Everett            Washington        111475
267       268             Downey            California        111126
268       269             Lowell         Massachusetts        110997
269       270         Centennial              Colorado        110937
270       271              Elgin              Illinois        110849
271       272           Richmond            California        110567
272       273             Peoria              Illinois        110417
273       274       Broken Arrow              Oklahoma        110198
274       275      Miami Gardens               Florida        110001
275       276           Billings               Montana        109577
276       277      Jurupa Valley            California        109527
277       278      Sandy Springs               Georgia        109452
278       279            Gresham                Oregon        109381
279       280         Lewisville                 Texas        109212
280       281          Hillsboro                Oregon        109128
281       282        Ventura[ab]            California        109106
282       283            Greeley              Colorado        108649
283       284          Inglewood            California        108151
284       285          Waterbury           Connecticut        107568
285       286        League City                 Texas        107536
286       287        Santa Maria            California        107263
287       288              Tyler                 Texas        106985

In [5]:
df['City'] = df['City'].str.replace("\[.*\]","")
df.head()

,2019rank,City,State[c],2019estimate,2010Census,Change,2016 land area,2016 land area.1,2016 population density,2016 population density.1,Location
0,1,New York City,New York,8336817,8175133,+1.98%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3979576,3792621,+4.93%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
2,3,Chicago,Illinois,2693976,2695598,−0.06%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
3,4,Houston,Texas,2320268,2100263,+10.48%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
4,5,Phoenix,Arizona,1680992,1445632,+16.28%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W

In [6]:
df = df.head(20)
df

,2019rank,City,State[c],2019estimate,2010Census,Change,2016 land area,2016 land area.1,2016 population density,2016 population density.1,Location
0,1,New York City,New York,8336817,8175133,+1.98%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3979576,3792621,+4.93%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
2,3,Chicago,Illinois,2693976,2695598,−0.06%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
3,4,Houston,Texas,2320268,2100263,+10.48%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
4,5,Phoenix,Arizona,1680992,1445632,+16.28%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W
5,6,Philadelphia,Pennsylvania,1584064,1526006,+3.80%,134.2 sq mi,347.6 km2,"11,683/sq mi","4,511/km2",40°00′34″N 75°08′00″W﻿ / ﻿40.0094°N 75.1333°W
6,7,San Antonio,Texas,1547253,1327407,+16.56%,461.0 sq mi,"1,194.0 km2","3,238/sq mi","1,250/km2",29°28′21″N 98°31′30″W﻿ / ﻿29.4724°N 98.5251°W
7,8,San Diego,California,1423851,1307402,+8.91%,325.2 sq mi,842.3 km2,"4,325/sq mi","1,670/km2",32°48′55″N 117°08′06″W﻿ / ﻿32.8153°N 117.1350°W
8,9,Dallas,Texas,1343573,1197816,+12.17%,340.9 sq mi,882.9 km2,"3,866/sq mi","1,493/km2",32°47′36″N 96°45′59″W﻿ / ﻿32.7933°N 96.7665°W
9,10,San Jose,California,1021795,945942,+8.02%,177.5 sq mi,459.7 km2,"5,777/sq mi","2,231/km2",37°17′48″N 121°49′08″W﻿ / ﻿37.2967°N 121.8189°W
10,11,Austin,Texas,978908,790390,+23.85%,312.7 sq mi,809.9 km2,"3,031/sq mi","1,170/km2",30°18′14″N 97°45′16″W﻿ / ﻿30.3039°N 97.7544°W
11,12,Jacksonville,Florida,911507,821784,+10.92%,747.4 sq mi,"1,935.8 km2","1,178/sq mi",455/km2,30°20′13″N 81°39′42″W﻿ / ﻿30.3369°N 81.6616°W
12,13,Fort Worth,Texas,909585,741206,+22.72%,342.9 sq mi,888.1 km2,"2,491/sq mi",962/km2,32°46′53″N 97°20′48″W﻿ / ﻿32.7815°N 97.3467°W
13,14,Columbus,Ohio,898553,787033,+14.17%,218.5 sq mi,565.9 km2,"3,936/sq mi","1,520/km2",39°59′07″N 82°59′05″W﻿ / ﻿39.9852°N 82.9848°W
14,15,Charlotte,North Carolina,885708,731424,+21.09%,305.4 sq mi,791.0 km2,"2,757/sq mi","1,064/km2",35°12′28″N 80°49′52″W﻿ / ﻿35.2078°N 80.8310°W
15,16,San Francisco,California,881549,805235,+9.48%,46.9 sq mi,121.5 km2,"18,569/sq mi","7,170/km2",37°43′38″N 123°01′56″W﻿ / ﻿37.7272°N 123.0322°W
16,17,Indianapolis,Indiana,876384,820445,+6.82%,361.5 sq mi,936.3 km2,"2,366/sq mi",914/km2,39°46′36″N 86°08′45″W﻿ / ﻿39.7767°N 86.1459°W
17,18,Seattle,Washington,753675,608660,+23.83%,83.8 sq mi,217.0 km2,"8,405/sq mi","3,245/km2",47°37′14″N 122°21′03″W﻿ / ﻿47.6205°N 122.3509°W
18,19,Denver,Colorado,727211,600158,+21.17%,153.3 sq mi,397.0 km2,"4,521/sq mi","1,746/km2",39°45′43″N 104°52′52″W﻿ / ﻿39.7619°N 104.8811°W
19,20,Washington,District of Columbia,705749,601723,+17.29%,61.1 sq mi,158.2 km2,"11,148/sq mi","4,304/km2",38°54′15″N 77°01′02″W﻿ / ﻿38.9041°N 77.0172°W

In [14]:
cities = list(df['City'])
print(cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose', 'Austin', 'Jacksonville', 'Fort Worth', 'Columbus', 'Charlotte', 'San Francisco', 'Indianapolis', 'Seattle', 'Denver', 'Washington']

In [15]:
# Foursquare API credentials and endpoint
CLIENT_ID = os.getenv("CLIENT_ID")
CLIENT_SECRET = os.getenv("CLIENT_SECRET")
VERSION = '20200616'
URL = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, VERSION, 5000)

In [28]:
cuisines = {
    'Afghan': '503288ae91d4c4b30a586d67', 
    'African': '4bf58dd8d48988d1c8941735', 
    'American': '4bf58dd8d48988d14e941735', 
    'Burmese': '56aa371be4b08b9a8d573568', 
    'Cambodian': '52e81612bcbc57f1066b7a03', 
    'Chinese': '4bf58dd8d48988d145941735', 
    'Filipino': '4eb1bd1c3b7b55596b4a748f', 
    'Himalayan': '52e81612bcbc57f1066b79fb', 
    'Indonesian': '4deefc054765f83613cdba6f', 
    'Japanese': '4bf58dd8d48988d111941735', 
    'Korean': '4bf58dd8d48988d113941735', 
    'Malay': '4bf58dd8d48988d156941735', 
    'Mongolian': '4eb1d5724b900d56c88a45fe', 
    'Thai': '4bf58dd8d48988d149941735', 
    'Tibetan': '52af39fb3cf9994f4e043be9', 
    'Vietnamese': '4bf58dd8d48988d14a941735', 
    'Australian': '4bf58dd8d48988d169941735', 
    'Austrian': '52e81612bcbc57f1066b7a01', 
    'Bangladeshi': '5e179ee74ae8e90006e9a746', 
    'Belgian': '52e81612bcbc57f1066b7a02', 
    'Caribbean': '4bf58dd8d48988d144941735', 
    'Caucasian': '5293a7d53cf9994f4e043a45', 
    'Czech': '52f2ae52bcbc57f1066b8b81', 
    'Dutch': '5744ccdfe4b0c0459246b4d0', 
    'Belarusian': '52e928d0bcbc57f1066b7e97', 
    'Bosnian': '58daa1558bbb0b01f18ec1ee', 
    'Bulgarian': '56aa371be4b08b9a8d5734f3', 
    'Romanian': '52960bac3cf9994f4e043ac4', 
    'Tatar': '52e928d0bcbc57f1066b7e98', 
    'English': '52e81612bcbc57f1066b7a05', 
    'French': '4bf58dd8d48988d10c941735', 
    'German': '4bf58dd8d48988d10d941735', 
    'Greek': '4bf58dd8d48988d10e941735', 
    'Hawaiian': '52e81612bcbc57f1066b79fe', 
    'Hungarian': '52e81612bcbc57f1066b79fa', 
    'Indian': '4bf58dd8d48988d10f941735', 
    'Italian': '4bf58dd8d48988d110941735', 
    'Salvadoran': '5745c7ac498e5d0483112fdb', 
    'Argentinian': '4bf58dd8d48988d107941735', 
    'Brazilian': '4bf58dd8d48988d16b941735', 
    'Colombian': '58daa1558bbb0b01f18ec1f4', 
    'Peruvian': '4eb1bfa43b7b52c0e1adc2e8', 
    'Venezuelan': '56aa371be4b08b9a8d573558', 
    'Moroccan': '4bf58dd8d48988d1c3941735', 
    'Mexican': '4bf58dd8d48988d1c1941735', 
    'Egyptian': '5bae9231bedf3950379f89e1', 
    'Iraqi': '5bae9231bedf3950379f89e7', 
    'Israeli': '56aa371be4b08b9a8d573529', 
    'Kurdish': '5744ccdfe4b0c0459246b4ca', 
    'Lebanese': '58daa1558bbb0b01f18ec1cd', 
    'Persian': '52e81612bcbc57f1066b79f7', 
    'Syrian': '5bae9231bedf3950379f89da', 
    'Yemeni': '5bae9231bedf3950379f89ea', 
    'Pakistani': '52e81612bcbc57f1066b79f8', 
    'Polish': '52e81612bcbc57f1066b7a04', 
    'Portuguese': '4def73e84765ae376e57713a', 
    'Russian': '5293a7563cf9994f4e043a44', 
    'Scandinavian': '4bf58dd8d48988d1c6941735', 
    'Scottish': '5744ccdde4b0c0459246b4a3', 
    'Slovak': '56aa371be4b08b9a8d57355a', 
    'Spanish': '4bf58dd8d48988d150941735', 
    'Sri Lankan': '5413605de4b0ae91d18581a9', 
    'Swiss': '4bf58dd8d48988d158941735', 
    'Turkish': '4f04af1f2fb6e1c99f3db0bb', 
    'Ukranian': '52e928d0bcbc57f1066b7e96'
}
#restaurants.drop(restaurants.index, inplace=True)
#cities = ['Seattle']
#restaurants = pd.DataFrame(columns=['City', 'Cuisine', 'Number of restaurants'])
for city in cities:
    print(city)
    for cuisine_name, category_id in cuisines.items():
        # For each city, retrieve the top restaurants from Foursquare for each cuisine...
        query = requests.get("{url}&near={city}&categoryId={category_id}".format(url=URL, city=city, category_id=category_id))
        if query.status_code == 200:
            number = query.json()
            restaurants = restaurants.append({
                'City': city,
                'Cuisine': cuisine_name,
                'Number of restaurants': number['response']['totalResults']
            }, ignore_index=True)
        
restaurants

Seattle

              City       Cuisine Number of restaurants
0    New York City        Afghan                    13
1    New York City       African                    91
2    New York City      American                   376
3    New York City       Burmese                     9
4    New York City     Cambodian                     9
5    New York City       Chinese                   350
6    New York City      Filipino                    23
7    New York City     Himalayan                    12
8    New York City    Indonesian                    14
9    New York City      Japanese                   340
10   New York City        Korean                   278
11   New York City         Malay                    56
12   New York City     Mongolian                    19
13   New York City          Thai                   309
14   New York City       Tibetan                    26
15   New York City    Vietnamese                   168
16   New York City    Australian                    55
17   New York City      Austrian                    14
18   New York City   Bangladeshi                     4
19   New York City       Belgian                    73
20   New York City     Caribbean                   241
21   New York City     Caucasian                    14
22   New York City         Czech                    12
23   New York City         Dutch                    26
24   New York City    Belarusian                     0
25   New York City       Bosnian                     1
26   New York City     Bulgarian                     2
27   New York City      Romanian                     9
28   New York City         Tatar                     0
29   New York City       English                   139
30   New York City        French                   385
31   New York City        German                    68
32   New York City         Greek                   209
33   New York City      Hawaiian                   116
34   New York City     Hungarian                    13
35   New York City        Indian                   271
36   New York City       Italian                   334
37   New York City    Salvadoran                    35
38   New York City   Argentinian                    28
39   New York City     Brazilian                    55
40   New York City     Colombian                    85
41   New York City      Peruvian                    47
42   New York City    Venezuelan                    14
43   New York City      Moroccan                    65
44   New York City       Mexican                   295
45   New York City      Egyptian                     6
46   New York City         Iraqi                     1
47   New York City       Israeli                    45
48   New York City       Kurdish                     0
49   New York City      Lebanese                    30
50   New York City       Persian                    13
51   New York City        Syrian                     3
52   New York City        Yemeni                     7
53   New York City     Pakistani                    12
54   New York City        Polish                    82
55   New York City    Portuguese                    26
56   New York City       Russian                    81
57   New York City  Scandinavian                    23
58   New York City      Scottish                    20
59   New York City        Slovak                     1
60   New York City       Spanish                   327
61   New York City    Sri Lankan                    10
62   New York City         Swiss                    56
63   New York City       Turkish                   113
64   New York City      Ukranian                    15
65     Los Angeles        Afghan                     4
66     Los Angeles      American                   297
67     Los Angeles       Burmese                     6
68     Los Angeles     Cambodian                    16
69     Los Angeles       Chinese                   285
70     Los Angeles      Filipino                    83
71     Los Angeles     Himalayan                     7
72     Los Angeles    Indonesian                    15
73     Los Angeles      Japanese                   288
74     Los Angeles        Korean                   330
75     Los Angeles         Malay                     8
76     Los Angeles     Mongolian                    21
77     Los Angeles          Thai                   315
78     Los Angeles       Tibetan                     1
79     Los Angeles    Vietnamese                   172
80     Los Angeles    Australian                    10
81     Los Angeles      Austrian                     4
82     Los Angeles   Bangladeshi                     0
83     Los Angeles       Belgian                    26
84     Los Angeles     Caribbean                    70
85     Los Angeles     Caucasian                     0
86     Los Angeles         Czech                     0
87     Los Angeles         Dutch                     8
88     Los Angeles    Belarusian                     0
89     Los Angeles       Bosnian                     0
90     Los Angeles     Bulgarian                     1
91     Los Angeles      Romanian                     2
92     Los Angeles         Tatar                     0
93     Los Angeles       English                    84
94     Los Angeles        French                   267
95     Los Angeles        German                    70
96     Los Angeles         Greek                    80
97     Los Angeles      Hawaiian                   161
98     Los Angeles     Hungarian                     0
99     Los Angeles        Indian                   244
100    Los Angeles       Italian                   195
101    Los Angeles    Salvadoran                    22
102    Los Angeles   Argentinian                    34
103    Los Angeles     Brazilian                    50
104    Los Angeles     Colombian                     2
105    Los Angeles      Peruvian                    37
106    Los Angeles    Venezuelan                     5
107    Los Angeles      Moroccan                    32
108    Los Angeles       Mexican                   331
109    Los Angeles      Egyptian                     0
110    Los Angeles         Iraqi                     1
111    Los Angeles       Israeli                    16
112    Los Angeles       Kurdish                     0
113    Los Angeles      Lebanese                    18
114    Los Angeles       Persian                    45
115    Los Angeles        Syrian                     0
116    Los Angeles        Yemeni                     0
117    Los Angeles     Pakistani                     9
118    Los Angeles        Polish                     5
119    Los Angeles    Portuguese                     5
120    Los Angeles       Russian                    27
121    Los Angeles  Scandinavian                     7
122    Los Angeles      Scottish                     4
123    Los Angeles        Slovak                     0
124    Los Angeles       Spanish                   131
125    Los Angeles    Sri Lankan                     4
126    Los Angeles         Swiss                     9
127    Los Angeles       Turkish                    23
128    Los Angeles      Ukranian                     1
129        Chicago        Afghan                     4
130        Chicago       African                    54
131        Chicago      American                   324
132        Chicago       Burmese                     2
133        Chicago     Cambodian                     1
134        Chicago       Chinese                   299
135        Chicago      Filipino                    22
136        Chicago     Himalayan                     2
137        Chicago    Indonesian                     5
138        Chicago      Japanese                   252
139        Chicago        Korean                   123
140        Chicago         Malay                     5
141        Chicago     Mongolian                    25
142        Chicago          Thai                   216
143        Chicago       Tibetan                     2
144        Chicago    Vietnamese                    93
145        Chicago    Australian                    11
146        Chicago      Austrian                     2
147        Chicago   Bangladeshi                     0
148        Chicago       Belgian                    31
149        Chicago     Caribbean                   131
150        Chicago     Caucasian                     0
151        Chicago         Czech                     4
152        Chicago         Dutch                     6
153        Chicago    Belarusian                     0
154        Chicago       Bosnian                     0
155        Chicago     Bulgarian                     2
156        Chicago      Romanian                     0
157        Chicago         Tatar                     0
158        Chicago       English                    77
159        Chicago        French                   161
160        Chicago        German                    38
161        Chicago         Greek                   155
162        Chicago      Hawaiian                    51
163        Chicago     Hungarian                     2
164        Chicago        Indian                   179
165        Chicago       Italian                   214
166        Chicago    Salvadoran                     3
167        Chicago   Argentinian                    17
168        Chicago     Brazilian                    14
169        Chicago     Colombian                     7
170        Chicago      Peruvian                    17
171        Chicago    Venezuelan                     6
172        Chicago      Moroccan                     8
173        Chicago       Mexican                   293
174        Chicago      Egyptian                     0
175        Chicago         Iraqi                     1
176        Chicago       Israeli                     6
177        Chicago       Kurdish                     1
178        Chicago      Lebanese                     5
179        Chicago       Persian                     7
180        Chicago        Syrian                     2
181        Chicago        Yemeni                     3
182        Chicago     Pakistani                    16
183        Chicago        Polish                    84
184        Chicago    Portuguese                     9
185        Chicago       Russian                    22
186        Chicago  Scandinavian                     8
187        Chicago      Scottish                     5
188        Chicago        Slovak                     0
189        Chicago       Spanish                   124
190        Chicago    Sri Lankan                     2
191        Chicago         Swiss                    26
192        Chicago       Turkish                    22
193        Chicago      Ukranian                     6
194        Houston        Afghan                     4
195        Houston       African                    41
196        Houston      American                   249
197        Houston       Burmese                     1
198        Houston     Cambodian                     0
199        Houston       Chinese                   294
200        Houston      Filipino                    23
201        Houston     Himalayan                     2
202        Houston    Indonesian                     7
203        Houston      Japanese                   242
204        Houston        Korean                   140
205        Houston     Mongolian                    20
206        Houston          Thai                   163
207        Houston       Tibetan                     0
208        Houston    Vietnamese                   280
209        Houston    Australian                     9
210        Houston      Austrian                     3
211        Houston   Bangladeshi                     0
212        Houston       Belgian                    12
213        Houston     Caribbean                    58
214        Houston     Caucasian                     0
215        Houston         Czech                     3
216        Houston         Dutch                     2
217        Houston    Belarusian                     0
218        Houston       Bosnian                     0
219        Houston     Bulgarian                     0
220        Houston         Tatar                     0
221        Houston       English                    42
222        Houston        French                   163
223        Houston        German                    60
224        Houston         Greek                    90
225        Houston      Hawaiian                    41
226        Houston     Hungarian                     0
227        Houston        Indian                   226
228        Houston       Italian                   164
229        Houston    Salvadoran                    13
230        Houston   Argentinian                    15
231        Houston     Brazilian                    23
232        Houston     Colombian                    16
233        Houston      Peruvian                    17
234        Houston    Venezuelan                     7
235        Houston      Moroccan                     4
236        Houston       Mexican                   300
237        Houston      Egyptian                     1
238        Houston         Iraqi                     2
239        Houston       Israeli                     0
240        Houston       Kurdish                     0
241        Houston      Lebanese                     7
242        Houston       Persian                    15
243        Houston        Syrian                     0
244        Houston        Yemeni                     0
245        Houston     Pakistani                    25
246        Houston        Polish                     8
247        Houston    Portuguese                     8
248        Houston       Russian                     7
249        Houston  Scandinavian                     0
250        Houston      Scottish                     4
251        Houston        Slovak                     0
252        Houston       Spanish                   103
253        Houston    Sri Lankan                     3
254        Houston         Swiss                    14
255        Houston       Turkish                    21
256        Houston      Ukranian                     0
257        Phoenix        Afghan                     4
258        Phoenix       African                    13
259        Phoenix      American                   237
260        Phoenix       Burmese                     0
261        Phoenix     Cambodian                     1
262        Phoenix       Chinese                   231
263        Phoenix      Filipino                     7
264        Phoenix     Himalayan                     1
265        Phoenix    Indonesian                     4
266        Phoenix      Japanese                   157
267        Phoenix        Korean                    19
268        Phoenix         Malay                     1
269        Phoenix     Mongolian                    12
270        Phoenix          Thai                    67
271        Phoenix       Tibetan                     0
272        Phoenix    Vietnamese                    44
273        Phoenix    Australian                    12
274        Phoenix      Austrian                     0
275        Phoenix   Bangladeshi                     0
276        Phoenix       Belgian                     5
277        Phoenix     Caribbean                    19
278        Phoenix     Caucasian                     0
279        Phoenix         Czech                     0
280        Phoenix         Dutch                     6
281        Phoenix    Belarusian                     0
282        Phoenix       Bosnian                     0
283        Phoenix     Bulgarian                     1
284        Phoenix      Romanian                     0
285        Phoenix         Tatar                     0
286        Phoenix       English                    48
287        Phoenix        French                    65
288        Phoenix        German                    16
289        Phoenix         Greek                    76
290        Phoenix      Hawaiian                    25
291        Phoenix     Hungarian                     3
292        Phoenix        Indian                    49
293        Phoenix       Italian                   130
294        Phoenix   Argentinian                     5
295        Phoenix     Brazilian                     9
296        Phoenix     Colombian                     0
297        Phoenix      Peruvian                     8
298        Phoenix    Venezuelan                     0
299        Phoenix      Moroccan                     5
300        Phoenix       Mexican                   249
301        Phoenix      Egyptian                     0
302        Phoenix         Iraqi                     0
303        Phoenix       Israeli                     2
304        Phoenix       Kurdish                     0
305        Phoenix      Lebanese                     2
306        Phoenix       Persian                     8
307        Phoenix        Syrian                     0
308        Phoenix        Yemeni                     0
309        Phoenix     Pakistani                     0
310        Phoenix        Polish                     5
311        Phoenix    Portuguese                     2
312        Phoenix       Russian                     7
313        Phoenix  Scandinavian                     2
314        Phoenix      Scottish                     3
315        Phoenix        Slovak                     0
316        Phoenix       Spanish                    33
317        Phoenix    Sri Lankan                     0
318        Phoenix         Swiss                     8
319        Phoenix       Turkish                     5
320        Phoenix      Ukranian                     1
321   Philadelphia        Afghan                    17
322   Philadelphia       African                    41
323   Philadelphia      American                   276
324   Philadelphia       Burmese                     1
325   Philadelphia     Cambodian                     5
326   Philadelphia       Chinese                   310
327   Philadelphia      Filipino                     7
328   Philadelphia     Himalayan                     0
329   Philadelphia    Indonesian                    12
330   Philadelphia      Japanese                   197
331   Philadelphia        Korean                   117
332   Philadelphia         Malay                     5
333   Philadelphia     Mongolian                    12
334   Philadelphia          Thai                    80
335   Philadelphia       Tibetan                     1
336   Philadelphia    Vietnamese                    98
337   Philadelphia    Australian                     8
338   Philadelphia      Austrian                     2
339   Philadelphia   Bangladeshi                     0
340   Philadelphia       Belgian                    10
341   Philadelphia     Caribbean                   117
342   Philadelphia     Caucasian                     3
343   Philadelphia         Czech                     0
344   Philadelphia         Dutch                     4
345   Philadelphia    Belarusian                     0
346   Philadelphia       Bosnian                     0
347   Philadelphia     Bulgarian                     1
348   Philadelphia      Romanian                     0
349   Philadelphia         Tatar                     0
350   Philadelphia       English                    56
351   Philadelphia        French                   115
352   Philadelphia        German                    15
353   Philadelphia         Greek                    90
354   Philadelphia      Hawaiian                    13
355   Philadelphia     Hungarian                     2
356   Philadelphia        Indian                    93
357   Philadelphia       Italian                   168
358   Philadelphia    Salvadoran                     5
359   Philadelphia   Argentinian                     7
360   Philadelphia     Brazilian                    66
361   Philadelphia     Colombian                     4

In [31]:
# Write DataFrame to CSV
#restaurants.to_csv('restaurants.csv', index=False)

In [32]:
restaurants_from_csv = pd.read_csv('restaurants.csv', keep_default_na=False, na_values=[""])
restaurants_from_csv.head()
restaurants = restaurants_from_csv

            City    Cuisine  Number of restaurants
0  New York City     Afghan                     13
1  New York City    African                     91
2  New York City   American                    376
3  New York City    Burmese                      9
4  New York City  Cambodian                      9

In [21]:
restaurants_total = restaurants.groupby('City').sum().reset_index()
#restaurants['Number of restaurants'][0]
#restaurants_total = restaurants_total[restaurants_total['City','Number of restaurants']]
restaurants_total.head()

,City,Cuisine,Number of restaurants
0,Austin,AfghanAfricanAmericanBurmeseCambodianChineseFi...,1642
1,Chicago,AfghanAfricanAmericanBurmeseCambodianChineseFi...,3207
2,Columbus,AfghanAfricanAmericanBurmeseCambodianChineseFi...,981
3,Dallas,AfghanAfricanAmericanBurmeseCambodianChineseFi...,2215
4,Fort Worth,AfghanAfricanAmericanBurmeseCambodianChineseFi...,1002

In [30]:
restaurants_total.sort_values('Number of restaurants', ascending = False)

,City,Cuisine,Number of restaurants
8,New York City,AfghanAfricanAmericanBurmeseCambodianChineseFi...,5574
7,Los Angeles,AfghanAmericanBurmeseCambodianChineseFilipinoH...,3888
1,Chicago,AfghanAfricanAmericanBurmeseCambodianChineseFi...,3207
5,Houston,AfghanAfricanAmericanBurmeseCambodianChineseFi...,2952
9,Philadelphia,AfghanAfricanAmericanBurmeseCambodianChineseFi...,2458
12,San Diego,AfghanAfricanAmericanBurmeseCambodianChineseFi...,2348
3,Dallas,AfghanAfricanAmericanBurmeseCambodianChineseFi...,2215
13,San Jose,AfghanAfricanAmericanBurmeseCambodianChineseFi...,1732
0,Austin,AfghanAfricanAmericanBurmeseCambodianChineseFi...,1642
10,Phoenix,AfghanAfricanAmericanBurmeseCambodianChineseFi...,1607
11,San Antonio,AfghanAfricanAmericanBurmeseCambodianChineseFi...,1595
6,Jacksonville,AfghanAfricanAmericanBurmeseCambodianChineseFi...,1208
4,Fort Worth,AfghanAfricanAmericanBurmeseCambodianChineseFi...,1002
2,Columbus,AfghanAfricanAmericanBurmeseCambodianChineseFi...,981

In [37]:
del restaurants_total['Cuisine']
restaurants_total.head()

         City  Number of restaurants
0      Austin                   1642
1     Chicago                   3207
2    Columbus                    981
3      Dallas                   2215
4  Fort Worth                   1002

In [41]:
df_merge_col = pd.merge(restaurants_total, df, on='City')
df_merge_col.sort_values('2019estimate', ascending = False)

,City,Number of restaurants,2019rank,State[c],2019estimate,2010Census,Change,2016 land area,2016 land area.1,2016 population density,2016 population density.1,Location
8,New York City,5574,1,New York,8336817,8175133,+1.98%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
7,Los Angeles,3888,2,California,3979576,3792621,+4.93%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
1,Chicago,3207,3,Illinois,2693976,2695598,−0.06%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
5,Houston,2952,4,Texas,2320268,2100263,+10.48%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
10,Phoenix,1607,5,Arizona,1680992,1445632,+16.28%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W
9,Philadelphia,2458,6,Pennsylvania,1584064,1526006,+3.80%,134.2 sq mi,347.6 km2,"11,683/sq mi","4,511/km2",40°00′34″N 75°08′00″W﻿ / ﻿40.0094°N 75.1333°W
11,San Antonio,1595,7,Texas,1547253,1327407,+16.56%,461.0 sq mi,"1,194.0 km2","3,238/sq mi","1,250/km2",29°28′21″N 98°31′30″W﻿ / ﻿29.4724°N 98.5251°W
12,San Diego,2348,8,California,1423851,1307402,+8.91%,325.2 sq mi,842.3 km2,"4,325/sq mi","1,670/km2",32°48′55″N 117°08′06″W﻿ / ﻿32.8153°N 117.1350°W
3,Dallas,2215,9,Texas,1343573,1197816,+12.17%,340.9 sq mi,882.9 km2,"3,866/sq mi","1,493/km2",32°47′36″N 96°45′59″W﻿ / ﻿32.7933°N 96.7665°W
13,San Jose,1732,10,California,1021795,945942,+8.02%,177.5 sq mi,459.7 km2,"5,777/sq mi","2,231/km2",37°17′48″N 121°49′08″W﻿ / ﻿37.2967°N 121.8189°W
0,Austin,1642,11,Texas,978908,790390,+23.85%,312.7 sq mi,809.9 km2,"3,031/sq mi","1,170/km2",30°18′14″N 97°45′16″W﻿ / ﻿30.3039°N 97.7544°W
6,Jacksonville,1208,12,Florida,911507,821784,+10.92%,747.4 sq mi,"1,935.8 km2","1,178/sq mi",455/km2,30°20′13″N 81°39′42″W﻿ / ﻿30.3369°N 81.6616°W
4,Fort Worth,1002,13,Texas,909585,741206,+22.72%,342.9 sq mi,888.1 km2,"2,491/sq mi",962/km2,32°46′53″N 97°20′48″W﻿ / ﻿32.7815°N 97.3467°W
2,Columbus,981,14,Ohio,898553,787033,+14.17%,218.5 sq mi,565.9 km2,"3,936/sq mi","1,520/km2",39°59′07″N 82°59′05″W﻿ / ﻿39.9852°N 82.9848°W

In [ ]:
# Code to retrieve the venues per city




# Rank the cities with similar number of restaurants

# Check that the GDP is comparable

### Obtaining rankings and grouping by cuisine

In [ ]:
# Group the assessment and group